{% extends 'base.html' %}
{% load static %}
{% load validation_tag %}
{% block title %}Hardware store{% endblock %}

{% block content %}
    {% include 'includes/header.html' %}
    {% check_if_the_item_is_in_the_cart item user as item_in_cart %}
    <main class="container-lg my-3">
        <h1 class="text-center">Hardware store</h1>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <a class="btn text-start d-inline-block p-0" onclick="history.back()" data-bs-toggle="tooltip" data-bs-placement="top"
                       data-bs-custom-class="custom-tooltip" data-bs-title="Back">
                        <img src="{% static 'orders/img/back-icon-dark.png' %}" alt="Back" width="25">
                    </a>
                    <h5 class="card-title text-center">{{ item.name }}</h5>
                    <p class="card-text border-bottom pb-3">{{ item.description }}</p>
                    <div class="container d-flex justify-content-between p-0">
                        <span class="fs-5">{{ item.price }} $</span>
						<div class="d-flex">
							{% if item_in_cart %}
								<a href="{% url 'cart' %}" class="btn btn-success m-0">Item added to cart</a>
							{% else %}
								<form action="{% url 'add_one_item_to_cart' item.id %}" method="post" class="">
									{% csrf_token %}
									<button type="submit" class="btn btn-success">Add to cart</button>
								</form>
								<button class="btn btn-danger ms-2" id="checkout-button">Buy now</button>
							{% endif %}
						</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("{% url 'buy_item' item.id %}", {
                method: "POST",
                headers: {
                    'X-CSRFToken': csrftoken
                }
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                // If redirectToCheckout fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using error.message.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
        });
    </script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
{% endblock %}
